@font-face {
	font-family: 'Linearicons';
	src: url("Linearicons.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'Linearicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fsshzfyoca-home:before {
	content: "\e600";
}
.fsshzfyoca-home2:before {
	content: "\e601";
}
.fsshzfyoca-home3:before {
	content: "\e602";
}
.fsshzfyoca-home4:before {
	content: "\e603";
}
.fsshzfyoca-home5:before {
	content: "\e604";
}
.fsshzfyoca-home6:before {
	content: "\e605";
}
.fsshzfyoca-bathtub:before {
	content: "\e606";
}
.fsshzfyoca-toothbrush:before {
	content: "\e607";
}
.fsshzfyoca-bed:before {
	content: "\e608";
}
.fsshzfyoca-couch:before {
	content: "\e609";
}
.fsshzfyoca-chair:before {
	content: "\e60a";
}
.fsshzfyoca-city:before {
	content: "\e60b";
}
.fsshzfyoca-apartment:before {
	content: "\e60c";
}
.fsshzfyoca-pencil:before {
	content: "\e60d";
}
.fsshzfyoca-pencil2:before {
	content: "\e60e";
}
.fsshzfyoca-pen:before {
	content: "\e60f";
}
.fsshzfyoca-pencil3:before {
	content: "\e610";
}
.fsshzfyoca-eraser:before {
	content: "\e611";
}
.fsshzfyoca-pencil4:before {
	content: "\e612";
}
.fsshzfyoca-pencil5:before {
	content: "\e613";
}
.fsshzfyoca-feather:before {
	content: "\e614";
}
.fsshzfyoca-feather2:before {
	content: "\e615";
}
.fsshzfyoca-feather3:before {
	content: "\e616";
}
.fsshzfyoca-pen2:before {
	content: "\e617";
}
.fsshzfyoca-pen-add:before {
	content: "\e618";
}
.fsshzfyoca-pen-remove:before {
	content: "\e619";
}
.fsshzfyoca-vector:before {
	content: "\e61a";
}
.fsshzfyoca-pen3:before {
	content: "\e61b";
}
.fsshzfyoca-blog:before {
	content: "\e61c";
}
.fsshzfyoca-brush:before {
	content: "\e61d";
}
.fsshzfyoca-brush2:before {
	content: "\e61e";
}
.fsshzfyoca-spray:before {
	content: "\e61f";
}
.fsshzfyoca-paint-roller:before {
	content: "\e620";
}
.fsshzfyoca-stamp:before {
	content: "\e621";
}
.fsshzfyoca-tape:before {
	content: "\e622";
}
.fsshzfyoca-desk-tape:before {
	content: "\e623";
}
.fsshzfyoca-texture:before {
	content: "\e624";
}
.fsshzfyoca-eye-dropper:before {
	content: "\e625";
}
.fsshzfyoca-palette:before {
	content: "\e626";
}
.fsshzfyoca-color-sampler:before {
	content: "\e627";
}
.fsshzfyoca-bucket:before {
	content: "\e628";
}
.fsshzfyoca-gradient:before {
	content: "\e629";
}
.fsshzfyoca-gradient2:before {
	content: "\e62a";
}
.fsshzfyoca-magic-wand:before {
	content: "\e62b";
}
.fsshzfyoca-magnet:before {
	content: "\e62c";
}
.fsshzfyoca-pencil-ruler:before {
	content: "\e62d";
}
.fsshzfyoca-pencil-ruler2:before {
	content: "\e62e";
}
.fsshzfyoca-compass:before {
	content: "\e62f";
}
.fsshzfyoca-aim:before {
	content: "\e630";
}
.fsshzfyoca-gun:before {
	content: "\e631";
}
.fsshzfyoca-bottle:before {
	content: "\e632";
}
.fsshzfyoca-drop:before {
	content: "\e633";
}
.fsshzfyoca-drop-crossed:before {
	content: "\e634";
}
.fsshzfyoca-drop2:before {
	content: "\e635";
}
.fsshzfyoca-snow:before {
	content: "\e636";
}
.fsshzfyoca-snow2:before {
	content: "\e637";
}
.fsshzfyoca-fire:before {
	content: "\e638";
}
.fsshzfyoca-lighter:before {
	content: "\e639";
}
.fsshzfyoca-knife:before {
	content: "\e63a";
}
.fsshzfyoca-dagger:before {
	content: "\e63b";
}
.fsshzfyoca-tissue:before {
	content: "\e63c";
}
.fsshzfyoca-toilet-paper:before {
	content: "\e63d";
}
.fsshzfyoca-poop:before {
	content: "\e63e";
}
.fsshzfyoca-umbrella:before {
	content: "\e63f";
}
.fsshzfyoca-umbrella2:before {
	content: "\e640";
}
.fsshzfyoca-rain:before {
	content: "\e641";
}
.fsshzfyoca-tornado:before {
	content: "\e642";
}
.fsshzfyoca-wind:before {
	content: "\e643";
}
.fsshzfyoca-fan:before {
	content: "\e644";
}
.fsshzfyoca-contrast:before {
	content: "\e645";
}
.fsshzfyoca-sun-small:before {
	content: "\e646";
}
.fsshzfyoca-sun:before {
	content: "\e647";
}
.fsshzfyoca-sun2:before {
	content: "\e648";
}
.fsshzfyoca-moon:before {
	content: "\e649";
}
.fsshzfyoca-cloud:before {
	content: "\e64a";
}
.fsshzfyoca-cloud-upload:before {
	content: "\e64b";
}
.fsshzfyoca-cloud-download:before {
	content: "\e64c";
}
.fsshzfyoca-cloud-rain:before {
	content: "\e64d";
}
.fsshzfyoca-cloud-hailstones:before {
	content: "\e64e";
}
.fsshzfyoca-cloud-snow:before {
	content: "\e64f";
}
.fsshzfyoca-cloud-windy:before {
	content: "\e650";
}
.fsshzfyoca-sun-wind:before {
	content: "\e651";
}
.fsshzfyoca-cloud-fog:before {
	content: "\e652";
}
.fsshzfyoca-cloud-sun:before {
	content: "\e653";
}
.fsshzfyoca-cloud-lightning:before {
	content: "\e654";
}
.fsshzfyoca-cloud-sync:before {
	content: "\e655";
}
.fsshzfyoca-cloud-lock:before {
	content: "\e656";
}
.fsshzfyoca-cloud-gear:before {
	content: "\e657";
}
.fsshzfyoca-cloud-alert:before {
	content: "\e658";
}
.fsshzfyoca-cloud-check:before {
	content: "\e659";
}
.fsshzfyoca-cloud-cross:before {
	content: "\e65a";
}
.fsshzfyoca-cloud-crossed:before {
	content: "\e65b";
}
.fsshzfyoca-cloud-database:before {
	content: "\e65c";
}
.fsshzfyoca-database:before {
	content: "\e65d";
}
.fsshzfyoca-database-add:before {
	content: "\e65e";
}
.fsshzfyoca-database-remove:before {
	content: "\e65f";
}
.fsshzfyoca-database-lock:before {
	content: "\e660";
}
.fsshzfyoca-database-refresh:before {
	content: "\e661";
}
.fsshzfyoca-database-check:before {
	content: "\e662";
}
.fsshzfyoca-database-history:before {
	content: "\e663";
}
.fsshzfyoca-database-upload:before {
	content: "\e664";
}
.fsshzfyoca-database-download:before {
	content: "\e665";
}
.fsshzfyoca-server:before {
	content: "\e666";
}
.fsshzfyoca-shield:before {
	content: "\e667";
}
.fsshzfyoca-shield-check:before {
	content: "\e668";
}
.fsshzfyoca-shield-alert:before {
	content: "\e669";
}
.fsshzfyoca-shield-cross:before {
	content: "\e66a";
}
.fsshzfyoca-lock:before {
	content: "\e66b";
}
.fsshzfyoca-rotation-lock:before {
	content: "\e66c";
}
.fsshzfyoca-unlock:before {
	content: "\e66d";
}
.fsshzfyoca-key:before {
	content: "\e66e";
}
.fsshzfyoca-key-hole:before {
	content: "\e66f";
}
.fsshzfyoca-toggle-off:before {
	content: "\e670";
}
.fsshzfyoca-toggle-on:before {
	content: "\e671";
}
.fsshzfyoca-cog:before {
	content: "\e672";
}
.fsshzfyoca-cog2:before {
	content: "\e673";
}
.fsshzfyoca-wrench:before {
	content: "\e674";
}
.fsshzfyoca-screwdriver:before {
	content: "\e675";
}
.fsshzfyoca-hammer-wrench:before {
	content: "\e676";
}
.fsshzfyoca-hammer:before {
	content: "\e677";
}
.fsshzfyoca-saw:before {
	content: "\e678";
}
.fsshzfyoca-axe:before {
	content: "\e679";
}
.fsshzfyoca-axe2:before {
	content: "\e67a";
}
.fsshzfyoca-shovel:before {
	content: "\e67b";
}
.fsshzfyoca-pickaxe:before {
	content: "\e67c";
}
.fsshzfyoca-factory:before {
	content: "\e67d";
}
.fsshzfyoca-factory2:before {
	content: "\e67e";
}
.fsshzfyoca-recycle:before {
	content: "\e67f";
}
.fsshzfyoca-trash:before {
	content: "\e680";
}
.fsshzfyoca-trash2:before {
	content: "\e681";
}
.fsshzfyoca-trash3:before {
	content: "\e682";
}
.fsshzfyoca-broom:before {
	content: "\e683";
}
.fsshzfyoca-game:before {
	content: "\e684";
}
.fsshzfyoca-gamepad:before {
	content: "\e685";
}
.fsshzfyoca-joystick:before {
	content: "\e686";
}
.fsshzfyoca-dice:before {
	content: "\e687";
}
.fsshzfyoca-spades:before {
	content: "\e688";
}
.fsshzfyoca-diamonds:before {
	content: "\e689";
}
.fsshzfyoca-clubs:before {
	content: "\e68a";
}
.fsshzfyoca-hearts:before {
	content: "\e68b";
}
.fsshzfyoca-heart:before {
	content: "\e68c";
}
.fsshzfyoca-star:before {
	content: "\e68d";
}
.fsshzfyoca-star-half:before {
	content: "\e68e";
}
.fsshzfyoca-star-empty:before {
	content: "\e68f";
}
.fsshzfyoca-flag:before {
	content: "\e690";
}
.fsshzfyoca-flag2:before {
	content: "\e691";
}
.fsshzfyoca-flag3:before {
	content: "\e692";
}
.fsshzfyoca-mailbox-full:before {
	content: "\e693";
}
.fsshzfyoca-mailbox-empty:before {
	content: "\e694";
}
.fsshzfyoca-at-sign:before {
	content: "\e695";
}
.fsshzfyoca-envelope:before {
	content: "\e696";
}
.fsshzfyoca-envelope-open:before {
	content: "\e697";
}
.fsshzfyoca-paperclip:before {
	content: "\e698";
}
.fsshzfyoca-paper-plane:before {
	content: "\e699";
}
.fsshzfyoca-reply:before {
	content: "\e69a";
}
.fsshzfyoca-reply-all:before {
	content: "\e69b";
}
.fsshzfyoca-inbox:before {
	content: "\e69c";
}
.fsshzfyoca-inbox2:before {
	content: "\e69d";
}
.fsshzfyoca-outbox:before {
	content: "\e69e";
}
.fsshzfyoca-box:before {
	content: "\e69f";
}
.fsshzfyoca-archive:before {
	content: "\e6a0";
}
.fsshzfyoca-archive2:before {
	content: "\e6a1";
}
.fsshzfyoca-drawers:before {
	content: "\e6a2";
}
.fsshzfyoca-drawers2:before {
	content: "\e6a3";
}
.fsshzfyoca-drawers3:before {
	content: "\e6a4";
}
.fsshzfyoca-eye:before {
	content: "\e6a5";
}
.fsshzfyoca-eye-crossed:before {
	content: "\e6a6";
}
.fsshzfyoca-eye-plus:before {
	content: "\e6a7";
}
.fsshzfyoca-eye-minus:before {
	content: "\e6a8";
}
.fsshzfyoca-binoculars:before {
	content: "\e6a9";
}
.fsshzfyoca-binoculars2:before {
	content: "\e6aa";
}
.fsshzfyoca-hdd:before {
	content: "\e6ab";
}
.fsshzfyoca-hdd-down:before {
	content: "\e6ac";
}
.fsshzfyoca-hdd-up:before {
	content: "\e6ad";
}
.fsshzfyoca-floppy-disk:before {
	content: "\e6ae";
}
.fsshzfyoca-disc:before {
	content: "\e6af";
}
.fsshzfyoca-tape2:before {
	content: "\e6b0";
}
.fsshzfyoca-printer:before {
	content: "\e6b1";
}
.fsshzfyoca-shredder:before {
	content: "\e6b2";
}
.fsshzfyoca-file-empty:before {
	content: "\e6b3";
}
.fsshzfyoca-file-add:before {
	content: "\e6b4";
}
.fsshzfyoca-file-check:before {
	content: "\e6b5";
}
.fsshzfyoca-file-lock:before {
	content: "\e6b6";
}
.fsshzfyoca-files:before {
	content: "\e6b7";
}
.fsshzfyoca-copy:before {
	content: "\e6b8";
}
.fsshzfyoca-compare:before {
	content: "\e6b9";
}
.fsshzfyoca-folder:before {
	content: "\e6ba";
}
.fsshzfyoca-folder-search:before {
	content: "\e6bb";
}
.fsshzfyoca-folder-plus:before {
	content: "\e6bc";
}
.fsshzfyoca-folder-minus:before {
	content: "\e6bd";
}
.fsshzfyoca-folder-download:before {
	content: "\e6be";
}
.fsshzfyoca-folder-upload:before {
	content: "\e6bf";
}
.fsshzfyoca-folder-star:before {
	content: "\e6c0";
}
.fsshzfyoca-folder-heart:before {
	content: "\e6c1";
}
.fsshzfyoca-folder-user:before {
	content: "\e6c2";
}
.fsshzfyoca-folder-shared:before {
	content: "\e6c3";
}
.fsshzfyoca-folder-music:before {
	content: "\e6c4";
}
.fsshzfyoca-folder-picture:before {
	content: "\e6c5";
}
.fsshzfyoca-folder-film:before {
	content: "\e6c6";
}
.fsshzfyoca-scissors:before {
	content: "\e6c7";
}
.fsshzfyoca-paste:before {
	content: "\e6c8";
}
.fsshzfyoca-clipboard-empty:before {
	content: "\e6c9";
}
.fsshzfyoca-clipboard-pencil:before {
	content: "\e6ca";
}
.fsshzfyoca-clipboard-text:before {
	content: "\e6cb";
}
.fsshzfyoca-clipboard-check:before {
	content: "\e6cc";
}
.fsshzfyoca-clipboard-down:before {
	content: "\e6cd";
}
.fsshzfyoca-clipboard-left:before {
	content: "\e6ce";
}
.fsshzfyoca-clipboard-alert:before {
	content: "\e6cf";
}
.fsshzfyoca-clipboard-user:before {
	content: "\e6d0";
}
.fsshzfyoca-register:before {
	content: "\e6d1";
}
.fsshzfyoca-enter:before {
	content: "\e6d2";
}
.fsshzfyoca-exit:before {
	content: "\e6d3";
}
.fsshzfyoca-papers:before {
	content: "\e6d4";
}
.fsshzfyoca-news:before {
	content: "\e6d5";
}
.fsshzfyoca-reading:before {
	content: "\e6d6";
}
.fsshzfyoca-typewriter:before {
	content: "\e6d7";
}
.fsshzfyoca-document:before {
	content: "\e6d8";
}
.fsshzfyoca-document2:before {
	content: "\e6d9";
}
.fsshzfyoca-graduation-hat:before {
	content: "\e6da";
}
.fsshzfyoca-license:before {
	content: "\e6db";
}
.fsshzfyoca-license2:before {
	content: "\e6dc";
}
.fsshzfyoca-medal-empty:before {
	content: "\e6dd";
}
.fsshzfyoca-medal-first:before {
	content: "\e6de";
}
.fsshzfyoca-medal-second:before {
	content: "\e6df";
}
.fsshzfyoca-medal-third:before {
	content: "\e6e0";
}
.fsshzfyoca-podium:before {
	content: "\e6e1";
}
.fsshzfyoca-trophy:before {
	content: "\e6e2";
}
.fsshzfyoca-trophy2:before {
	content: "\e6e3";
}
.fsshzfyoca-music-note:before {
	content: "\e6e4";
}
.fsshzfyoca-music-note2:before {
	content: "\e6e5";
}
.fsshzfyoca-music-note3:before {
	content: "\e6e6";
}
.fsshzfyoca-playlist:before {
	content: "\e6e7";
}
.fsshzfyoca-playlist-add:before {
	content: "\e6e8";
}
.fsshzfyoca-guitar:before {
	content: "\e6e9";
}
.fsshzfyoca-trumpet:before {
	content: "\e6ea";
}
.fsshzfyoca-album:before {
	content: "\e6eb";
}
.fsshzfyoca-shuffle:before {
	content: "\e6ec";
}
.fsshzfyoca-repeat-one:before {
	content: "\e6ed";
}
.fsshzfyoca-repeat:before {
	content: "\e6ee";
}
.fsshzfyoca-headphones:before {
	content: "\e6ef";
}
.fsshzfyoca-headset:before {
	content: "\e6f0";
}
.fsshzfyoca-loudspeaker:before {
	content: "\e6f1";
}
.fsshzfyoca-equalizer:before {
	content: "\e6f2";
}
.fsshzfyoca-theater:before {
	content: "\e6f3";
}
.fsshzfyoca-3d-glasses:before {
	content: "\e6f4";
}
.fsshzfyoca-ticket:before {
	content: "\e6f5";
}
.fsshzfyoca-presentation:before {
	content: "\e6f6";
}
.fsshzfyoca-play:before {
	content: "\e6f7";
}
.fsshzfyoca-film-play:before {
	content: "\e6f8";
}
.fsshzfyoca-clapboard-play:before {
	content: "\e6f9";
}
.fsshzfyoca-media:before {
	content: "\e6fa";
}
.fsshzfyoca-film:before {
	content: "\e6fb";
}
.fsshzfyoca-film2:before {
	content: "\e6fc";
}
.fsshzfyoca-surveillance:before {
	content: "\e6fd";
}
.fsshzfyoca-surveillance2:before {
	content: "\e6fe";
}
.fsshzfyoca-camera:before {
	content: "\e6ff";
}
.fsshzfyoca-camera-crossed:before {
	content: "\e700";
}
.fsshzfyoca-camera-play:before {
	content: "\e701";
}
.fsshzfyoca-time-lapse:before {
	content: "\e702";
}
.fsshzfyoca-record:before {
	content: "\e703";
}
.fsshzfyoca-camera2:before {
	content: "\e704";
}
.fsshzfyoca-camera-flip:before {
	content: "\e705";
}
.fsshzfyoca-panorama:before {
	content: "\e706";
}
.fsshzfyoca-time-lapse2:before {
	content: "\e707";
}
.fsshzfyoca-shutter:before {
	content: "\e708";
}
.fsshzfyoca-shutter2:before {
	content: "\e709";
}
.fsshzfyoca-face-detection:before {
	content: "\e70a";
}
.fsshzfyoca-flare:before {
	content: "\e70b";
}
.fsshzfyoca-convex:before {
	content: "\e70c";
}
.fsshzfyoca-concave:before {
	content: "\e70d";
}
.fsshzfyoca-picture:before {
	content: "\e70e";
}
.fsshzfyoca-picture2:before {
	content: "\e70f";
}
.fsshzfyoca-picture3:before {
	content: "\e710";
}
.fsshzfyoca-pictures:before {
	content: "\e711";
}
.fsshzfyoca-book:before {
	content: "\e712";
}
.fsshzfyoca-audio-book:before {
	content: "\e713";
}
.fsshzfyoca-book2:before {
	content: "\e714";
}
.fsshzfyoca-bookmark:before {
	content: "\e715";
}
.fsshzfyoca-bookmark2:before {
	content: "\e716";
}
.fsshzfyoca-label:before {
	content: "\e717";
}
.fsshzfyoca-library:before {
	content: "\e718";
}
.fsshzfyoca-library2:before {
	content: "\e719";
}
.fsshzfyoca-contacts:before {
	content: "\e71a";
}
.fsshzfyoca-profile:before {
	content: "\e71b";
}
.fsshzfyoca-portrait:before {
	content: "\e71c";
}
.fsshzfyoca-portrait2:before {
	content: "\e71d";
}
.fsshzfyoca-user:before {
	content: "\e71e";
}
.fsshzfyoca-user-plus:before {
	content: "\e71f";
}
.fsshzfyoca-user-minus:before {
	content: "\e720";
}
.fsshzfyoca-user-lock:before {
	content: "\e721";
}
.fsshzfyoca-users:before {
	content: "\e722";
}
.fsshzfyoca-users2:before {
	content: "\e723";
}
.fsshzfyoca-users-plus:before {
	content: "\e724";
}
.fsshzfyoca-users-minus:before {
	content: "\e725";
}
.fsshzfyoca-group-work:before {
	content: "\e726";
}
.fsshzfyoca-woman:before {
	content: "\e727";
}
.fsshzfyoca-man:before {
	content: "\e728";
}
.fsshzfyoca-baby:before {
	content: "\e729";
}
.fsshzfyoca-baby2:before {
	content: "\e72a";
}
.fsshzfyoca-baby3:before {
	content: "\e72b";
}
.fsshzfyoca-baby-bottle:before {
	content: "\e72c";
}
.fsshzfyoca-walk:before {
	content: "\e72d";
}
.fsshzfyoca-hand-waving:before {
	content: "\e72e";
}
.fsshzfyoca-jump:before {
	content: "\e72f";
}
.fsshzfyoca-run:before {
	content: "\e730";
}
.fsshzfyoca-woman2:before {
	content: "\e731";
}
.fsshzfyoca-man2:before {
	content: "\e732";
}
.fsshzfyoca-man-woman:before {
	content: "\e733";
}
.fsshzfyoca-height:before {
	content: "\e734";
}
.fsshzfyoca-weight:before {
	content: "\e735";
}
.fsshzfyoca-scale:before {
	content: "\e736";
}
.fsshzfyoca-button:before {
	content: "\e737";
}
.fsshzfyoca-bow-tie:before {
	content: "\e738";
}
.fsshzfyoca-tie:before {
	content: "\e739";
}
.fsshzfyoca-socks:before {
	content: "\e73a";
}
.fsshzfyoca-shoe:before {
	content: "\e73b";
}
.fsshzfyoca-shoes:before {
	content: "\e73c";
}
.fsshzfyoca-hat:before {
	content: "\e73d";
}
.fsshzfyoca-pants:before {
	content: "\e73e";
}
.fsshzfyoca-shorts:before {
	content: "\e73f";
}
.fsshzfyoca-flip-flops:before {
	content: "\e740";
}
.fsshzfyoca-shirt:before {
	content: "\e741";
}
.fsshzfyoca-hanger:before {
	content: "\e742";
}
.fsshzfyoca-laundry:before {
	content: "\e743";
}
.fsshzfyoca-store:before {
	content: "\e744";
}
.fsshzfyoca-haircut:before {
	content: "\e745";
}
.fsshzfyoca-store-24:before {
	content: "\e746";
}
.chilodwqlwrffcgcode:before {
	content: "\e747";
}
.chilodwqlwrffcgcode2:before {
	content: "\e748";
}
.chilodwqlwrffcgcode3:before {
	content: "\e749";
}
.fsshzfyoca-cashier:before {
	content: "\e74a";
}
.fsshzfyoca-bag:before {
	content: "\e74b";
}
.fsshzfyoca-bag2:before {
	content: "\e74c";
}
.fsshzfyoca-cart:before {
	content: "\e74d";
}
.fsshzfyoca-cart-empty:before {
	content: "\e74e";
}
.fsshzfyoca-cart-full:before {
	content: "\e74f";
}
.fsshzfyoca-cart-plus:before {
	content: "\e750";
}
.fsshzfyoca-cart-plus2:before {
	content: "\e751";
}
.fsshzfyoca-cart-add:before {
	content: "\e752";
}
.fsshzfyoca-cart-remove:before {
	content: "\e753";
}
.fsshzfyoca-cart-exchange:before {
	content: "\e754";
}
.fsshzfyoca-tag:before {
	content: "\e755";
}
.fsshzfyoca-tags:before {
	content: "\e756";
}
.fsshzfyoca-receipt:before {
	content: "\e757";
}
.fsshzfyoca-wallet:before {
	content: "\e758";
}
.fsshzfyoca-credit-card:before {
	content: "\e759";
}
.fsshzfyoca-cash-dollar:before {
	content: "\e75a";
}
.fsshzfyoca-cash-euro:before {
	content: "\e75b";
}
.fsshzfyoca-cash-pound:before {
	content: "\e75c";
}
.fsshzfyoca-cash-yen:before {
	content: "\e75d";
}
.fsshzfyoca-bag-dollar:before {
	content: "\e75e";
}
.fsshzfyoca-bag-euro:before {
	content: "\e75f";
}
.fsshzfyoca-bag-pound:before {
	content: "\e760";
}
.fsshzfyoca-bag-yen:before {
	content: "\e761";
}
.fsshzfyoca-coin-dollar:before {
	content: "\e762";
}
.fsshzfyoca-coin-euro:before {
	content: "\e763";
}
.fsshzfyoca-coin-pound:before {
	content: "\e764";
}
.fsshzfyoca-coin-yen:before {
	content: "\e765";
}
.fsshzfyoca-calculator:before {
	content: "\e766";
}
.fsshzfyoca-calculator2:before {
	content: "\e767";
}
.fsshzfyoca-abacus:before {
	content: "\e768";
}
.fsshzfyoca-vault:before {
	content: "\e769";
}
.fsshzfyoca-telephone:before {
	content: "\e76a";
}
.fsshzfyoca-phone-lock:before {
	content: "\e76b";
}
.fsshzfyoca-phone-wave:before {
	content: "\e76c";
}
.fsshzfyoca-phone-pause:before {
	content: "\e76d";
}
.fsshzfyoca-phone-outgoing:before {
	content: "\e76e";
}
.fsshzfyoca-phone-incoming:before {
	content: "\e76f";
}
.fsshzfyoca-phone-in-out:before {
	content: "\e770";
}
.fsshzfyoca-phone-error:before {
	content: "\e771";
}
.fsshzfyoca-phone-sip:before {
	content: "\e772";
}
.fsshzfyoca-phone-plus:before {
	content: "\e773";
}
.fsshzfyoca-phone-minus:before {
	content: "\e774";
}
.fsshzfyoca-voicemail:before {
	content: "\e775";
}
.fsshzfyoca-dial:before {
	content: "\e776";
}
.fsshzfyoca-telephone2:before {
	content: "\e777";
}
.fsshzfyoca-pushpin:before {
	content: "\e778";
}
.fsshzfyoca-pushpin2:before {
	content: "\e779";
}
.fsshzfyoca-map-marker:before {
	content: "\e77a";
}
.fsshzfyoca-map-marker-user:before {
	content: "\e77b";
}
.fsshzfyoca-map-marker-down:before {
	content: "\e77c";
}
.fsshzfyoca-map-marker-check:before {
	content: "\e77d";
}
.fsshzfyoca-map-marker-crossed:before {
	content: "\e77e";
}
.fsshzfyoca-radar:before {
	content: "\e77f";
}
.fsshzfyoca-compass2:before {
	content: "\e780";
}
.fsshzfyoca-map:before {
	content: "\e781";
}
.fsshzfyoca-map2:before {
	content: "\e782";
}
.fsshzfyoca-location:before {
	content: "\e783";
}
.fsshzfyoca-road-sign:before {
	content: "\e784";
}
.fsshzfyoca-calendar-empty:before {
	content: "\e785";
}
.fsshzfyoca-calendar-check:before {
	content: "\e786";
}
.fsshzfyoca-calendar-cross:before {
	content: "\e787";
}
.fsshzfyoca-calendar-31:before {
	content: "\e788";
}
.fsshzfyoca-calendar-full:before {
	content: "\e789";
}
.fsshzfyoca-calendar-insert:before {
	content: "\e78a";
}
.fsshzfyoca-calendar-text:before {
	content: "\e78b";
}
.fsshzfyoca-calendar-user:before {
	content: "\e78c";
}
.fsshzfyoca-mouse:before {
	content: "\e78d";
}
.fsshzfyoca-mouse-left:before {
	content: "\e78e";
}
.fsshzfyoca-mouse-right:before {
	content: "\e78f";
}
.fsshzfyoca-mouse-both:before {
	content: "\e790";
}
.fsshzfyoca-keyboard:before {
	content: "\e791";
}
.fsshzfyoca-keyboard-up:before {
	content: "\e792";
}
.fsshzfyoca-keyboard-down:before {
	content: "\e793";
}
.fsshzfyoca-delete:before {
	content: "\e794";
}
.fsshzfyoca-spell-check:before {
	content: "\e795";
}
.fsshzfyoca-escape:before {
	content: "\e796";
}
.fsshzfyoca-enter2:before {
	content: "\e797";
}
.fsshzfyoca-screen:before {
	content: "\e798";
}
.fsshzfyoca-aspect-ratio:before {
	content: "\e799";
}
.fsshzfyoca-signal:before {
	content: "\e79a";
}
.fsshzfyoca-signal-lock:before {
	content: "\e79b";
}
.fsshzfyoca-signal-80:before {
	content: "\e79c";
}
.fsshzfyoca-signal-60:before {
	content: "\e79d";
}
.fsshzfyoca-signal-40:before {
	content: "\e79e";
}
.fsshzfyoca-signal-20:before {
	content: "\e79f";
}
.fsshzfyoca-signal-0:before {
	content: "\e7a0";
}
.fsshzfyoca-signal-blocked:before {
	content: "\e7a1";
}
.fsshzfyoca-sim:before {
	content: "\e7a2";
}
.fsshzfyoca-flash-memory:before {
	content: "\e7a3";
}
.fsshzfyoca-usb-drive:before {
	content: "\e7a4";
}
.fsshzfyoca-phone:before {
	content: "\e7a5";
}
.fsshzfyoca-smartphone:before {
	content: "\e7a6";
}
.fsshzfyoca-smartphone-notification:before {
	content: "\e7a7";
}
.fsshzfyoca-smartphone-vibration:before {
	content: "\e7a8";
}
.fsshzfyoca-smartphone-embed:before {
	content: "\e7a9";
}
.fsshzfyoca-smartphone-waves:before {
	content: "\e7aa";
}
.fsshzfyoca-tablet:before {
	content: "\e7ab";
}
.fsshzfyoca-tablet2:before {
	content: "\e7ac";
}
.fsshzfyoca-laptop:before {
	content: "\e7ad";
}
.fsshzfyoca-laptop-phone:before {
	content: "\e7ae";
}
.fsshzfyoca-desktop:before {
	content: "\e7af";
}
.fsshzfyoca-launch:before {
	content: "\e7b0";
}
.fsshzfyoca-new-tab:before {
	content: "\e7b1";
}
.fsshzfyoca-window:before {
	content: "\e7b2";
}
.fsshzfyoca-cable:before {
	content: "\e7b3";
}
.fsshzfyoca-cable2:before {
	content: "\e7b4";
}
.fsshzfyoca-tv:before {
	content: "\e7b5";
}
.fsshzfyoca-radio:before {
	content: "\e7b6";
}
.fsshzfyoca-remote-control:before {
	content: "\e7b7";
}
.fsshzfyoca-power-switch:before {
	content: "\e7b8";
}
.fsshzfyoca-power:before {
	content: "\e7b9";
}
.fsshzfyoca-power-crossed:before {
	content: "\e7ba";
}
.fsshzfyoca-flash-auto:before {
	content: "\e7bb";
}
.fsshzfyoca-lamp:before {
	content: "\e7bc";
}
.fsshzfyoca-flashlight:before {
	content: "\e7bd";
}
.fsshzfyoca-lampshade:before {
	content: "\e7be";
}
.fsshzfyoca-cord:before {
	content: "\e7bf";
}
.fsshzfyoca-outlet:before {
	content: "\e7c0";
}
.fsshzfyoca-battery-power:before {
	content: "\e7c1";
}
.fsshzfyoca-battery-empty:before {
	content: "\e7c2";
}
.fsshzfyoca-battery-alert:before {
	content: "\e7c3";
}
.fsshzfyoca-battery-error:before {
	content: "\e7c4";
}
.fsshzfyoca-battery-low1:before {
	content: "\e7c5";
}
.fsshzfyoca-battery-low2:before {
	content: "\e7c6";
}
.fsshzfyoca-battery-low3:before {
	content: "\e7c7";
}
.fsshzfyoca-battery-mid1:before {
	content: "\e7c8";
}
.fsshzfyoca-battery-mid2:before {
	content: "\e7c9";
}
.fsshzfyoca-battery-mid3:before {
	content: "\e7ca";
}
.fsshzfyoca-battery-full:before {
	content: "\e7cb";
}
.fsshzfyoca-battery-charging:before {
	content: "\e7cc";
}
.fsshzfyoca-battery-charging2:before {
	content: "\e7cd";
}
.fsshzfyoca-battery-charging3:before {
	content: "\e7ce";
}
.fsshzfyoca-battery-charging4:before {
	content: "\e7cf";
}
.fsshzfyoca-battery-charging5:before {
	content: "\e7d0";
}
.fsshzfyoca-battery-charging6:before {
	content: "\e7d1";
}
.fsshzfyoca-battery-charging7:before {
	content: "\e7d2";
}
.fsshzfyoca-chip:before {
	content: "\e7d3";
}
.fsshzfyoca-chip-x64:before {
	content: "\e7d4";
}
.fsshzfyoca-chip-x86:before {
	content: "\e7d5";
}
.fsshzfyoca-bubble:before {
	content: "\e7d6";
}
.fsshzfyoca-bubbles:before {
	content: "\e7d7";
}
.fsshzfyoca-bubble-dots:before {
	content: "\e7d8";
}
.fsshzfyoca-bubble-alert:before {
	content: "\e7d9";
}
.fsshzfyoca-bubble-question:before {
	content: "\e7da";
}
.fsshzfyoca-bubble-text:before {
	content: "\e7db";
}
.fsshzfyoca-bubble-pencil:before {
	content: "\e7dc";
}
.fsshzfyoca-bubble-picture:before {
	content: "\e7dd";
}
.fsshzfyoca-bubble-video:before {
	content: "\e7de";
}
.fsshzfyoca-bubble-user:before {
	content: "\e7df";
}
.fsshzfyoca-bubble-quote:before {
	content: "\e7e0";
}
.fsshzfyoca-bubble-heart:before {
	content: "\e7e1";
}
.fsshzfyoca-bubble-emoticon:before {
	content: "\e7e2";
}
.fsshzfyoca-bubble-attachment:before {
	content: "\e7e3";
}
.fsshzfyoca-phone-bubble:before {
	content: "\e7e4";
}
.fsshzfyoca-quote-open:before {
	content: "\e7e5";
}
.fsshzfyoca-quote-close:before {
	content: "\e7e6";
}
.fsshzfyoca-dna:before {
	content: "\e7e7";
}
.fsshzfyoca-heart-pulse:before {
	content: "\e7e8";
}
.fsshzfyoca-pulse:before {
	content: "\e7e9";
}
.fsshzfyoca-syringe:before {
	content: "\e7ea";
}
.fsshzfyoca-pills:before {
	content: "\e7eb";
}
.fsshzfyoca-first-aid:before {
	content: "\e7ec";
}
.fsshzfyoca-lifebuoy:before {
	content: "\e7ed";
}
.fsshzfyoca-bandage:before {
	content: "\e7ee";
}
.fsshzfyoca-bandages:before {
	content: "\e7ef";
}
.fsshzfyoca-thermometer:before {
	content: "\e7f0";
}
.fsshzfyoca-microscope:before {
	content: "\e7f1";
}
.fsshzfyoca-brain:before {
	content: "\e7f2";
}
.fsshzfyoca-beaker:before {
	content: "\e7f3";
}
.fsshzfyoca-skull:before {
	content: "\e7f4";
}
.fsshzfyoca-bone:before {
	content: "\e7f5";
}
.fsshzfyoca-construction:before {
	content: "\e7f6";
}
.fsshzfyoca-construction-cone:before {
	content: "\e7f7";
}
.fsshzfyoca-pie-chart:before {
	content: "\e7f8";
}
.fsshzfyoca-pie-chart2:before {
	content: "\e7f9";
}
.fsshzfyoca-graph:before {
	content: "\e7fa";
}
.fsshzfyoca-chart-growth:before {
	content: "\e7fb";
}
.fsshzfyoca-chart-bars:before {
	content: "\e7fc";
}
.fsshzfyoca-chart-settings:before {
	content: "\e7fd";
}
.fsshzfyoca-cake:before {
	content: "\e7fe";
}
.fsshzfyoca-gift:before {
	content: "\e7ff";
}
.fsshzfyoca-balloon:before {
	content: "\e800";
}
.fsshzfyoca-rank:before {
	content: "\e801";
}
.fsshzfyoca-rank2:before {
	content: "\e802";
}
.fsshzfyoca-rank3:before {
	content: "\e803";
}
.fsshzfyoca-crown:before {
	content: "\e804";
}
.fsshzfyoca-lotus:before {
	content: "\e805";
}
.fsshzfyoca-diamond:before {
	content: "\e806";
}
.fsshzfyoca-diamond2:before {
	content: "\e807";
}
.fsshzfyoca-diamond3:before {
	content: "\e808";
}
.fsshzfyoca-diamond4:before {
	content: "\e809";
}
.fsshzfyoca-linearicons:before {
	content: "\e80a";
}
.fsshzfyoca-teacup:before {
	content: "\e80b";
}
.fsshzfyoca-teapot:before {
	content: "\e80c";
}
.fsshzfyoca-glass:before {
	content: "\e80d";
}
.fsshzfyoca-bottle2:before {
	content: "\e80e";
}
.fsshzfyoca-glass-cocktail:before {
	content: "\e80f";
}
.fsshzfyoca-glass2:before {
	content: "\e810";
}
.fsshzfyoca-dinner:before {
	content: "\e811";
}
.fsshzfyoca-dinner2:before {
	content: "\e812";
}
.fsshzfyoca-chef:before {
	content: "\e813";
}
.fsshzfyoca-scale2:before {
	content: "\e814";
}
.fsshzfyoca-egg:before {
	content: "\e815";
}
.fsshzfyoca-egg2:before {
	content: "\e816";
}
.fsshzfyoca-eggs:before {
	content: "\e817";
}
.fsshzfyoca-platter:before {
	content: "\e818";
}
.fsshzfyoca-steak:before {
	content: "\e819";
}
.fsshzfyoca-hamburger:before {
	content: "\e81a";
}
.fsshzfyoca-hotdog:before {
	content: "\e81b";
}
.fsshzfyoca-pizza:before {
	content: "\e81c";
}
.fsshzfyoca-sausage:before {
	content: "\e81d";
}
.fsshzfyoca-chicken:before {
	content: "\e81e";
}
.fsshzfyoca-fish:before {
	content: "\e81f";
}
.fsshzfyoca-carrot:before {
	content: "\e820";
}
.fsshzfyoca-cheese:before {
	content: "\e821";
}
.fsshzfyoca-bread:before {
	content: "\e822";
}
.fsshzfyoca-ice-cream:before {
	content: "\e823";
}
.fsshzfyoca-ice-cream2:before {
	content: "\e824";
}
.fsshzfyoca-candy:before {
	content: "\e825";
}
.fsshzfyoca-lollipop:before {
	content: "\e826";
}
.fsshzfyoca-coffee-bean:before {
	content: "\e827";
}
.fsshzfyoca-coffee-cup:before {
	content: "\e828";
}
.fsshzfyoca-cherry:before {
	content: "\e829";
}
.fsshzfyoca-grapes:before {
	content: "\e82a";
}
.fsshzfyoca-citrus:before {
	content: "\e82b";
}
.fsshzfyoca-apple:before {
	content: "\e82c";
}
.fsshzfyoca-leaf:before {
	content: "\e82d";
}
.fsshzfyoca-landscape:before {
	content: "\e82e";
}
.fsshzfyoca-pine-tree:before {
	content: "\e82f";
}
.fsshzfyoca-tree:before {
	content: "\e830";
}
.fsshzfyoca-cactus:before {
	content: "\e831";
}
.fsshzfyoca-paw:before {
	content: "\e832";
}
.fsshzfyoca-footprint:before {
	content: "\e833";
}
.fsshzfyoca-speed-slow:before {
	content: "\e834";
}
.fsshzfyoca-speed-medium:before {
	content: "\e835";
}
.fsshzfyoca-speed-fast:before {
	content: "\e836";
}
.fsshzfyoca-rocket:before {
	content: "\e837";
}
.fsshzfyoca-hammer2:before {
	content: "\e838";
}
.fsshzfyoca-balance:before {
	content: "\e839";
}
.fsshzfyoca-briefcase:before {
	content: "\e83a";
}
.fsshzfyoca-luggage-weight:before {
	content: "\e83b";
}
.fsshzfyoca-dolly:before {
	content: "\e83c";
}
.fsshzfyoca-plane:before {
	content: "\e83d";
}
.fsshzfyoca-plane-crossed:before {
	content: "\e83e";
}
.fsshzfyoca-helicopter:before {
	content: "\e83f";
}
.fsshzfyoca-traffic-lights:before {
	content: "\e840";
}
.fsshzfyoca-siren:before {
	content: "\e841";
}
.fsshzfyoca-road:before {
	content: "\e842";
}
.fsshzfyoca-engine:before {
	content: "\e843";
}
.fsshzfyoca-oil-pressure:before {
	content: "\e844";
}
.fsshzfyoca-coolant-temperature:before {
	content: "\e845";
}
.fsshzfyoca-car-battery:before {
	content: "\e846";
}
.fsshzfyoca-gas:before {
	content: "\e847";
}
.fsshzfyoca-gallon:before {
	content: "\e848";
}
.fsshzfyoca-transmission:before {
	content: "\e849";
}
.fsshzfyoca-car:before {
	content: "\e84a";
}
.fsshzfyoca-car-wash:before {
	content: "\e84b";
}
.fsshzfyoca-car-wash2:before {
	content: "\e84c";
}
.fsshzfyoca-bus:before {
	content: "\e84d";
}
.fsshzfyoca-bus2:before {
	content: "\e84e";
}
.fsshzfyoca-car2:before {
	content: "\e84f";
}
.fsshzfyoca-parking:before {
	content: "\e850";
}
.fsshzfyoca-car-lock:before {
	content: "\e851";
}
.fsshzfyoca-taxi:before {
	content: "\e852";
}
.fsshzfyoca-car-siren:before {
	content: "\e853";
}
.fsshzfyoca-car-wash3:before {
	content: "\e854";
}
.fsshzfyoca-car-wash4:before {
	content: "\e855";
}
.fsshzfyoca-ambulance:before {
	content: "\e856";
}
.fsshzfyoca-truck:before {
	content: "\e857";
}
.fsshzfyoca-trailer:before {
	content: "\e858";
}
.fsshzfyoca-scale-truck:before {
	content: "\e859";
}
.fsshzfyoca-train:before {
	content: "\e85a";
}
.fsshzfyoca-ship:before {
	content: "\e85b";
}
.fsshzfyoca-ship2:before {
	content: "\e85c";
}
.fsshzfyoca-anchor:before {
	content: "\e85d";
}
.fsshzfyoca-boat:before {
	content: "\e85e";
}
.fsshzfyoca-bicycle:before {
	content: "\e85f";
}
.fsshzfyoca-bicycle2:before {
	content: "\e860";
}
.fsshzfyoca-dumbbell:before {
	content: "\e861";
}
.fsshzfyoca-bench-press:before {
	content: "\e862";
}
.fsshzfyoca-swim:before {
	content: "\e863";
}
.fsshzfyoca-football:before {
	content: "\e864";
}
.fsshzfyoca-baseball-bat:before {
	content: "\e865";
}
.fsshzfyoca-baseball:before {
	content: "\e866";
}
.fsshzfyoca-tennis:before {
	content: "\e867";
}
.fsshzfyoca-tennis2:before {
	content: "\e868";
}
.fsshzfyoca-ping-pong:before {
	content: "\e869";
}
.fsshzfyoca-hockey:before {
	content: "\e86a";
}
.fsshzfyoca-8ball:before {
	content: "\e86b";
}
.fsshzfyoca-bowling:before {
	content: "\e86c";
}
.fsshzfyoca-bowling-pins:before {
	content: "\e86d";
}
.fsshzfyoca-golf:before {
	content: "\e86e";
}
.fsshzfyoca-golf2:before {
	content: "\e86f";
}
.fsshzfyoca-archery:before {
	content: "\e870";
}
.fsshzfyoca-slingshot:before {
	content: "\e871";
}
.fsshzfyoca-soccer:before {
	content: "\e872";
}
.fsshzfyoca-basketball:before {
	content: "\e873";
}
.fsshzfyoca-cube:before {
	content: "\e874";
}
.fsshzfyoca-3d-rotate:before {
	content: "\e875";
}
.fsshzfyoca-puzzle:before {
	content: "\e876";
}
.fsshzfyoca-glasses:before {
	content: "\e877";
}
.fsshzfyoca-glasses2:before {
	content: "\e878";
}
.fsshzfyoca-accessibility:before {
	content: "\e879";
}
.fsshzfyoca-wheelchair:before {
	content: "\e87a";
}
.fsshzfyoca-wall:before {
	content: "\e87b";
}
.fsshzfyoca-fence:before {
	content: "\e87c";
}
.fsshzfyoca-wall2:before {
	content: "\e87d";
}
.fsshzfyoca-icons:before {
	content: "\e87e";
}
.fsshzfyoca-resize-handle:before {
	content: "\e87f";
}
.fsshzfyoca-icons2:before {
	content: "\e880";
}
.fsshzfyoca-select:before {
	content: "\e881";
}
.fsshzfyoca-select2:before {
	content: "\e882";
}
.fsshzfyoca-site-map:before {
	content: "\e883";
}
.fsshzfyoca-earth:before {
	content: "\e884";
}
.fsshzfyoca-earth-lock:before {
	content: "\e885";
}
.fsshzfyoca-network:before {
	content: "\e886";
}
.fsshzfyoca-network-lock:before {
	content: "\e887";
}
.fsshzfyoca-planet:before {
	content: "\e888";
}
.fsshzfyoca-happy:before {
	content: "\e889";
}
.fsshzfyoca-smile:before {
	content: "\e88a";
}
.fsshzfyoca-grin:before {
	content: "\e88b";
}
.fsshzfyoca-tongue:before {
	content: "\e88c";
}
.fsshzfyoca-sad:before {
	content: "\e88d";
}
.fsshzfyoca-wink:before {
	content: "\e88e";
}
.fsshzfyoca-dream:before {
	content: "\e88f";
}
.fsshzfyoca-shocked:before {
	content: "\e890";
}
.fsshzfyoca-shocked2:before {
	content: "\e891";
}
.fsshzfyoca-tongue2:before {
	content: "\e892";
}
.fsshzfyoca-neutral:before {
	content: "\e893";
}
.fsshzfyoca-happy-grin:before {
	content: "\e894";
}
.fsshzfyoca-cool:before {
	content: "\e895";
}
.fsshzfyoca-mad:before {
	content: "\e896";
}
.fsshzfyoca-grin-evil:before {
	content: "\e897";
}
.fsshzfyoca-evil:before {
	content: "\e898";
}
.fsshzfyoca-wow:before {
	content: "\e899";
}
.fsshzfyoca-annoyed:before {
	content: "\e89a";
}
.fsshzfyoca-wondering:before {
	content: "\e89b";
}
.fsshzfyoca-confused:before {
	content: "\e89c";
}
.fsshzfyoca-zipped:before {
	content: "\e89d";
}
.fsshzfyoca-grumpy:before {
	content: "\e89e";
}
.fsshzfyoca-mustache:before {
	content: "\e89f";
}
.fsshzfyoca-tombstone-hipster:before {
	content: "\e8a0";
}
.fsshzfyoca-tombstone:before {
	content: "\e8a1";
}
.fsshzfyoca-ghost:before {
	content: "\e8a2";
}
.fsshzfyoca-ghost-hipster:before {
	content: "\e8a3";
}
.fsshzfyoca-halloween:before {
	content: "\e8a4";
}
.fsshzfyoca-christmas:before {
	content: "\e8a5";
}
.fsshzfyoca-easter-egg:before {
	content: "\e8a6";
}
.fsshzfyoca-mustache2:before {
	content: "\e8a7";
}
.fsshzfyoca-mustache-glasses:before {
	content: "\e8a8";
}
.fsshzfyoca-pipe:before {
	content: "\e8a9";
}
.fsshzfyoca-alarm:before {
	content: "\e8aa";
}
.fsshzfyoca-alarm-add:before {
	content: "\e8ab";
}
.fsshzfyoca-alarm-snooze:before {
	content: "\e8ac";
}
.fsshzfyoca-alarm-ringing:before {
	content: "\e8ad";
}
.fsshzfyoca-bullhorn:before {
	content: "\e8ae";
}
.fsshzfyoca-hearing:before {
	content: "\e8af";
}
.fsshzfyoca-volume-high:before {
	content: "\e8b0";
}
.fsshzfyoca-volume-medium:before {
	content: "\e8b1";
}
.fsshzfyoca-volume-low:before {
	content: "\e8b2";
}
.fsshzfyoca-volume:before {
	content: "\e8b3";
}
.fsshzfyoca-mute:before {
	content: "\e8b4";
}
.fsshzfyoca-lan:before {
	content: "\e8b5";
}
.fsshzfyoca-lan2:before {
	content: "\e8b6";
}
.fsshzfyoca-wifi:before {
	content: "\e8b7";
}
.fsshzfyoca-wifi-lock:before {
	content: "\e8b8";
}
.fsshzfyoca-wifi-blocked:before {
	content: "\e8b9";
}
.fsshzfyoca-wifi-mid:before {
	content: "\e8ba";
}
.fsshzfyoca-wifi-low:before {
	content: "\e8bb";
}
.fsshzfyoca-wifi-low2:before {
	content: "\e8bc";
}
.fsshzfyoca-wifi-alert:before {
	content: "\e8bd";
}
.fsshzfyoca-wifi-alert-mid:before {
	content: "\e8be";
}
.fsshzfyoca-wifi-alert-low:before {
	content: "\e8bf";
}
.fsshzfyoca-wifi-alert-low2:before {
	content: "\e8c0";
}
.fsshzfyoca-stream:before {
	content: "\e8c1";
}
.fsshzfyoca-stream-check:before {
	content: "\e8c2";
}
.fsshzfyoca-stream-error:before {
	content: "\e8c3";
}
.fsshzfyoca-stream-alert:before {
	content: "\e8c4";
}
.fsshzfyoca-communication:before {
	content: "\e8c5";
}
.fsshzfyoca-communication-crossed:before {
	content: "\e8c6";
}
.fsshzfyoca-broadcast:before {
	content: "\e8c7";
}
.fsshzfyoca-antenna:before {
	content: "\e8c8";
}
.fsshzfyoca-satellite:before {
	content: "\e8c9";
}
.fsshzfyoca-satellite2:before {
	content: "\e8ca";
}
.fsshzfyoca-mic:before {
	content: "\e8cb";
}
.fsshzfyoca-mic-mute:before {
	content: "\e8cc";
}
.fsshzfyoca-mic2:before {
	content: "\e8cd";
}
.fsshzfyoca-spotlights:before {
	content: "\e8ce";
}
.fsshzfyoca-hourglass:before {
	content: "\e8cf";
}
.fsshzfyoca-loading:before {
	content: "\e8d0";
}
.fsshzfyoca-loading2:before {
	content: "\e8d1";
}
.fsshzfyoca-loading3:before {
	content: "\e8d2";
}
.fsshzfyoca-refresh:before {
	content: "\e8d3";
}
.fsshzfyoca-refresh2:before {
	content: "\e8d4";
}
.fsshzfyoca-undo:before {
	content: "\e8d5";
}
.fsshzfyoca-redo:before {
	content: "\e8d6";
}
.fsshzfyoca-jump2:before {
	content: "\e8d7";
}
.fsshzfyoca-undo2:before {
	content: "\e8d8";
}
.fsshzfyoca-redo2:before {
	content: "\e8d9";
}
.fsshzfyoca-sync:before {
	content: "\e8da";
}
.fsshzfyoca-repeat-one2:before {
	content: "\e8db";
}
.fsshzfyoca-sync-crossed:before {
	content: "\e8dc";
}
.fsshzfyoca-sync2:before {
	content: "\e8dd";
}
.fsshzfyoca-repeat-one3:before {
	content: "\e8de";
}
.fsshzfyoca-sync-crossed2:before {
	content: "\e8df";
}
.fsshzfyoca-return:before {
	content: "\e8e0";
}
.fsshzfyoca-return2:before {
	content: "\e8e1";
}
.fsshzfyoca-refund:before {
	content: "\e8e2";
}
.fsshzfyoca-history:before {
	content: "\e8e3";
}
.fsshzfyoca-history2:before {
	content: "\e8e4";
}
.fsshzfyoca-self-timer:before {
	content: "\e8e5";
}
.fsshzfyoca-clock:before {
	content: "\e8e6";
}
.fsshzfyoca-clock2:before {
	content: "\e8e7";
}
.fsshzfyoca-clock3:before {
	content: "\e8e8";
}
.fsshzfyoca-watch:before {
	content: "\e8e9";
}
.fsshzfyoca-alarm2:before {
	content: "\e8ea";
}
.fsshzfyoca-alarm-add2:before {
	content: "\e8eb";
}
.fsshzfyoca-alarm-remove:before {
	content: "\e8ec";
}
.fsshzfyoca-alarm-check:before {
	content: "\e8ed";
}
.fsshzfyoca-alarm-error:before {
	content: "\e8ee";
}
.fsshzfyoca-timer:before {
	content: "\e8ef";
}
.fsshzfyoca-timer-crossed:before {
	content: "\e8f0";
}
.fsshzfyoca-timer2:before {
	content: "\e8f1";
}
.fsshzfyoca-timer-crossed2:before {
	content: "\e8f2";
}
.fsshzfyoca-download:before {
	content: "\e8f3";
}
.fsshzfyoca-upload:before {
	content: "\e8f4";
}
.fsshzfyoca-download2:before {
	content: "\e8f5";
}
.fsshzfyoca-upload2:before {
	content: "\e8f6";
}
.fsshzfyoca-enter-up:before {
	content: "\e8f7";
}
.fsshzfyoca-enter-down:before {
	content: "\e8f8";
}
.fsshzfyoca-enter-left:before {
	content: "\e8f9";
}
.fsshzfyoca-enter-right:before {
	content: "\e8fa";
}
.fsshzfyoca-exit-up:before {
	content: "\e8fb";
}
.fsshzfyoca-exit-down:before {
	content: "\e8fc";
}
.fsshzfyoca-exit-left:before {
	content: "\e8fd";
}
.fsshzfyoca-exit-right:before {
	content: "\e8fe";
}
.fsshzfyoca-enter-up2:before {
	content: "\e8ff";
}
.fsshzfyoca-enter-down2:before {
	content: "\e900";
}
.fsshzfyoca-enter-vertical:before {
	content: "\e901";
}
.fsshzfyoca-enter-left2:before {
	content: "\e902";
}
.fsshzfyoca-enter-right2:before {
	content: "\e903";
}
.fsshzfyoca-enter-horizontal:before {
	content: "\e904";
}
.fsshzfyoca-exit-up2:before {
	content: "\e905";
}
.fsshzfyoca-exit-down2:before {
	content: "\e906";
}
.fsshzfyoca-exit-left2:before {
	content: "\e907";
}
.fsshzfyoca-exit-right2:before {
	content: "\e908";
}
.fsshzfyoca-cli:before {
	content: "\e909";
}
.fsshzfyoca-bug:before {
	content: "\e90a";
}
.fsshzfyoca-code:before {
	content: "\e90b";
}
.fsshzfyoca-file-code:before {
	content: "\e90c";
}
.fsshzfyoca-file-image:before {
	content: "\e90d";
}
.fsshzfyoca-file-zip:before {
	content: "\e90e";
}
.fsshzfyoca-file-audio:before {
	content: "\e90f";
}
.fsshzfyoca-file-video:before {
	content: "\e910";
}
.fsshzfyoca-file-preview:before {
	content: "\e911";
}
.fsshzfyoca-file-charts:before {
	content: "\e912";
}
.fsshzfyoca-file-stats:before {
	content: "\e913";
}
.fsshzfyoca-file-spreadsheet:before {
	content: "\e914";
}
.fsshzfyoca-link:before {
	content: "\e915";
}
.fsshzfyoca-unlink:before {
	content: "\e916";
}
.fsshzfyoca-link2:before {
	content: "\e917";
}
.fsshzfyoca-unlink2:before {
	content: "\e918";
}
.fsshzfyoca-thumbs-up:before {
	content: "\e919";
}
.fsshzfyoca-thumbs-down:before {
	content: "\e91a";
}
.fsshzfyoca-thumbs-up2:before {
	content: "\e91b";
}
.fsshzfyoca-thumbs-down2:before {
	content: "\e91c";
}
.fsshzfyoca-thumbs-up3:before {
	content: "\e91d";
}
.fsshzfyoca-thumbs-down3:before {
	content: "\e91e";
}
.fsshzfyoca-share:before {
	content: "\e91f";
}
.fsshzfyoca-share2:before {
	content: "\e920";
}
.fsshzfyoca-share3:before {
	content: "\e921";
}
.fsshzfyoca-magnifier:before {
	content: "\e922";
}
.fsshzfyoca-file-search:before {
	content: "\e923";
}
.fsshzfyoca-find-replace:before {
	content: "\e924";
}
.fsshzfyoca-zoom-in:before {
	content: "\e925";
}
.fsshzfyoca-zoom-out:before {
	content: "\e926";
}
.fsshzfyoca-loupe:before {
	content: "\e927";
}
.fsshzfyoca-loupe-zoom-in:before {
	content: "\e928";
}
.fsshzfyoca-loupe-zoom-out:before {
	content: "\e929";
}
.fsshzfyoca-cross:before {
	content: "\e92a";
}
.fsshzfyoca-menu:before {
	content: "\e92b";
}
.fsshzfyoca-list:before {
	content: "\e92c";
}
.fsshzfyoca-list2:before {
	content: "\e92d";
}
.fsshzfyoca-list3:before {
	content: "\e92e";
}
.fsshzfyoca-menu2:before {
	content: "\e92f";
}
.fsshzfyoca-list4:before {
	content: "\e930";
}
.fsshzfyoca-menu3:before {
	content: "\e931";
}
.fsshzfyoca-exclamation:before {
	content: "\e932";
}
.fsshzfyoca-question:before {
	content: "\e933";
}
.fsshzfyoca-check:before {
	content: "\e934";
}
.fsshzfyoca-cross2:before {
	content: "\e935";
}
.fsshzfyoca-plus:before {
	content: "\e936";
}
.fsshzfyoca-minus:before {
	content: "\e937";
}
.fsshzfyoca-percent:before {
	content: "\e938";
}
.fsshzfyoca-chevron-up:before {
	content: "\e939";
}
.fsshzfyoca-chevron-down:before {
	content: "\e93a";
}
.kzajerjttjif:before {
	content: "\e93b";
}
.rokizlatdxyzvld:before {
	content: "\e93c";
}
.fsshzfyoca-chevrons-expand-vertical:before {
	content: "\e93d";
}
.fsshzfyoca-chevrons-expand-horizontal:before {
	content: "\e93e";
}
.fsshzfyoca-chevrons-contract-vertical:before {
	content: "\e93f";
}
.fsshzfyoca-chevrons-contract-horizontal:before {
	content: "\e940";
}
.fsshzfyoca-arrow-up:before {
	content: "\e941";
}
.fsshzfyoca-arrow-down:before {
	content: "\e942";
}
.fsshzfyoca-arrow-left:before {
	content: "\e943";
}
.fsshzfyoca-arrow-right:before {
	content: "\e944";
}
.fsshzfyoca-arrow-up-right:before {
	content: "\e945";
}
.fsshzfyoca-arrows-merge:before {
	content: "\e946";
}
.fsshzfyoca-arrows-split:before {
	content: "\e947";
}
.fsshzfyoca-arrow-divert:before {
	content: "\e948";
}
.fsshzfyoca-arrow-return:before {
	content: "\e949";
}
.fsshzfyoca-expand:before {
	content: "\e94a";
}
.fsshzfyoca-contract:before {
	content: "\e94b";
}
.fsshzfyoca-expand2:before {
	content: "\e94c";
}
.fsshzfyoca-contract2:before {
	content: "\e94d";
}
.fsshzfyoca-move:before {
	content: "\e94e";
}
.fsshzfyoca-tab:before {
	content: "\e94f";
}
.fsshzfyoca-arrow-wave:before {
	content: "\e950";
}
.fsshzfyoca-expand3:before {
	content: "\e951";
}
.fsshzfyoca-expand4:before {
	content: "\e952";
}
.fsshzfyoca-contract3:before {
	content: "\e953";
}
.fsshzfyoca-notification:before {
	content: "\e954";
}
.fsshzfyoca-warning:before {
	content: "\e955";
}
.fsshzfyoca-notification-circle:before {
	content: "\e956";
}
.fsshzfyoca-question-circle:before {
	content: "\e957";
}
.fsshzfyoca-menu-circle:before {
	content: "\e958";
}
.fsshzfyoca-checkmark-circle:before {
	content: "\e959";
}
.fsshzfyoca-cross-circle:before {
	content: "\e95a";
}
.fsshzfyoca-plus-circle:before {
	content: "\e95b";
}
.fsshzfyoca-circle-minus:before {
	content: "\e95c";
}
.fsshzfyoca-percent-circle:before {
	content: "\e95d";
}
.fsshzfyoca-arrow-up-circle:before {
	content: "\e95e";
}
.fsshzfyoca-arrow-down-circle:before {
	content: "\e95f";
}
.fsshzfyoca-arrow-left-circle:before {
	content: "\e960";
}
.fsshzfyoca-arrow-right-circle:before {
	content: "\e961";
}
.fsshzfyoca-chevron-up-circle:before {
	content: "\e962";
}
.fsshzfyoca-chevron-down-circle:before {
	content: "\e963";
}
.kzajerjttjif-circle:before {
	content: "\e964";
}
.rokizlatdxyzvld-circle:before {
	content: "\e965";
}
.fsshzfyoca-backward-circle:before {
	content: "\e966";
}
.fsshzfyoca-first-circle:before {
	content: "\e967";
}
.fsshzfyoca-previous-circle:before {
	content: "\e968";
}
.fsshzfyoca-stop-circle:before {
	content: "\e969";
}
.fsshzfyoca-play-circle:before {
	content: "\e96a";
}
.fsshzfyoca-pause-circle:before {
	content: "\e96b";
}
.fsshzfyoca-next-circle:before {
	content: "\e96c";
}
.fsshzfyoca-last-circle:before {
	content: "\e96d";
}
.fsshzfyoca-forward-circle:before {
	content: "\e96e";
}
.fsshzfyoca-eject-circle:before {
	content: "\e96f";
}
.fsshzfyoca-crop:before {
	content: "\e970";
}
.fsshzfyoca-frame-expand:before {
	content: "\e971";
}
.fsshzfyoca-frame-contract:before {
	content: "\e972";
}
.fsshzfyoca-focus:before {
	content: "\e973";
}
.fsshzfyoca-transform:before {
	content: "\e974";
}
.fsshzfyoca-grid:before {
	content: "\e975";
}
.fsshzfyoca-grid-crossed:before {
	content: "\e976";
}
.fsshzfyoca-layers:before {
	content: "\e977";
}
.fsshzfyoca-layers-crossed:before {
	content: "\e978";
}
.fsshzfyoca-toggle:before {
	content: "\e979";
}
.fsshzfyoca-rulers:before {
	content: "\e97a";
}
.fsshzfyoca-ruler:before {
	content: "\e97b";
}
.fsshzfyoca-funnel:before {
	content: "\e97c";
}
.fsshzfyoca-flip-horizontal:before {
	content: "\e97d";
}
.fsshzfyoca-flip-vertical:before {
	content: "\e97e";
}
.fsshzfyoca-flip-horizontal2:before {
	content: "\e97f";
}
.fsshzfyoca-flip-vertical2:before {
	content: "\e980";
}
.fsshzfyoca-angle:before {
	content: "\e981";
}
.fsshzfyoca-angle2:before {
	content: "\e982";
}
.fsshzfyoca-subtract:before {
	content: "\e983";
}
.fsshzfyoca-combine:before {
	content: "\e984";
}
.fsshzfyoca-intersect:before {
	content: "\e985";
}
.fsshzfyoca-exclude:before {
	content: "\e986";
}
.fsshzfyoca-align-center-vertical:before {
	content: "\e987";
}
.fsshzfyoca-align-right:before {
	content: "\e988";
}
.fsshzfyoca-align-bottom:before {
	content: "\e989";
}
.fsshzfyoca-align-left:before {
	content: "\e98a";
}
.fsshzfyoca-align-center-horizontal:before {
	content: "\e98b";
}
.fsshzfyoca-align-top:before {
	content: "\e98c";
}
.fsshzfyoca-square:before {
	content: "\e98d";
}
.fsshzfyoca-plus-square:before {
	content: "\e98e";
}
.fsshzfyoca-minus-square:before {
	content: "\e98f";
}
.fsshzfyoca-percent-square:before {
	content: "\e990";
}
.fsshzfyoca-arrow-up-square:before {
	content: "\e991";
}
.fsshzfyoca-arrow-down-square:before {
	content: "\e992";
}
.fsshzfyoca-arrow-left-square:before {
	content: "\e993";
}
.fsshzfyoca-arrow-right-square:before {
	content: "\e994";
}
.fsshzfyoca-chevron-up-square:before {
	content: "\e995";
}
.fsshzfyoca-chevron-down-square:before {
	content: "\e996";
}
.kzajerjttjif-square:before {
	content: "\e997";
}
.rokizlatdxyzvld-square:before {
	content: "\e998";
}
.fsshzfyoca-check-square:before {
	content: "\e999";
}
.fsshzfyoca-cross-square:before {
	content: "\e99a";
}
.fsshzfyoca-menu-square:before {
	content: "\e99b";
}
.fsshzfyoca-prohibited:before {
	content: "\e99c";
}
.fsshzfyoca-circle:before {
	content: "\e99d";
}
.fsshzfyoca-radio-button:before {
	content: "\e99e";
}
.fsshzfyoca-ligature:before {
	content: "\e99f";
}
.fsshzfyoca-text-format:before {
	content: "\e9a0";
}
.fsshzfyoca-text-format-remove:before {
	content: "\e9a1";
}
.fsshzfyoca-text-size:before {
	content: "\e9a2";
}
.fsshzfyoca-bold:before {
	content: "\e9a3";
}
.fsshzfyoca-italic:before {
	content: "\e9a4";
}
.fsshzfyoca-underline:before {
	content: "\e9a5";
}
.fsshzfyoca-strikethrough:before {
	content: "\e9a6";
}
.fsshzfyoca-highlight:before {
	content: "\e9a7";
}
.fsshzfyoca-text-align-left:before {
	content: "\e9a8";
}
.fsshzfyoca-text-align-center:before {
	content: "\e9a9";
}
.fsshzfyoca-text-align-right:before {
	content: "\e9aa";
}
.fsshzfyoca-text-align-justify:before {
	content: "\e9ab";
}
.fsshzfyoca-line-spacing:before {
	content: "\e9ac";
}
.fsshzfyoca-indent-increase:before {
	content: "\e9ad";
}
.fsshzfyoca-indent-decrease:before {
	content: "\e9ae";
}
.fsshzfyoca-text-wrap:before {
	content: "\e9af";
}
.fsshzfyoca-pilcrow:before {
	content: "\e9b0";
}
.fsshzfyoca-direction-ltr:before {
	content: "\e9b1";
}
.fsshzfyoca-direction-rtl:before {
	content: "\e9b2";
}
.fsshzfyoca-page-break:before {
	content: "\e9b3";
}
.fsshzfyoca-page-break2:before {
	content: "\e9b4";
}
.fsshzfyoca-sort-alpha-asc:before {
	content: "\e9b5";
}
.fsshzfyoca-sort-alpha-desc:before {
	content: "\e9b6";
}
.fsshzfyoca-sort-numeric-asc:before {
	content: "\e9b7";
}
.fsshzfyoca-sort-numeric-desc:before {
	content: "\e9b8";
}
.fsshzfyoca-sort-amount-asc:before {
	content: "\e9b9";
}
.fsshzfyoca-sort-amount-desc:before {
	content: "\e9ba";
}
.fsshzfyoca-sort-time-asc:before {
	content: "\e9bb";
}
.fsshzfyoca-sort-time-desc:before {
	content: "\e9bc";
}
.fsshzfyoca-sigma:before {
	content: "\e9bd";
}
.fsshzfyoca-pencil-line:before {
	content: "\e9be";
}
.fsshzfyoca-hand:before {
	content: "\e9bf";
}
.fsshzfyoca-pointer-up:before {
	content: "\e9c0";
}
.fsshzfyoca-pointer-right:before {
	content: "\e9c1";
}
.fsshzfyoca-pointer-down:before {
	content: "\e9c2";
}
.fsshzfyoca-pointer-left:before {
	content: "\e9c3";
}
.fsshzfyoca-finger-tap:before {
	content: "\e9c4";
}
.fsshzfyoca-fingers-tap:before {
	content: "\e9c5";
}
.fsshzfyoca-reminder:before {
	content: "\e9c6";
}
.fsshzfyoca-fingers-crossed:before {
	content: "\e9c7";
}
.fsshzfyoca-fingers-victory:before {
	content: "\e9c8";
}
.fsshzfyoca-gesture-zoom:before {
	content: "\e9c9";
}
.fsshzfyoca-gesture-pinch:before {
	content: "\e9ca";
}
.fsshzfyoca-fingers-scroll-horizontal:before {
	content: "\e9cb";
}
.fsshzfyoca-fingers-scroll-vertical:before {
	content: "\e9cc";
}
.fsshzfyoca-fingers-scroll-left:before {
	content: "\e9cd";
}
.fsshzfyoca-fingers-scroll-right:before {
	content: "\e9ce";
}
.fsshzfyoca-hand2:before {
	content: "\e9cf";
}
.fsshzfyoca-pointer-up2:before {
	content: "\e9d0";
}
.fsshzfyoca-pointer-right2:before {
	content: "\e9d1";
}
.fsshzfyoca-pointer-down2:before {
	content: "\e9d2";
}
.fsshzfyoca-pointer-left2:before {
	content: "\e9d3";
}
.fsshzfyoca-finger-tap2:before {
	content: "\e9d4";
}
.fsshzfyoca-fingers-tap2:before {
	content: "\e9d5";
}
.fsshzfyoca-reminder2:before {
	content: "\e9d6";
}
.fsshzfyoca-gesture-zoom2:before {
	content: "\e9d7";
}
.fsshzfyoca-gesture-pinch2:before {
	content: "\e9d8";
}
.fsshzfyoca-fingers-scroll-horizontal2:before {
	content: "\e9d9";
}
.fsshzfyoca-fingers-scroll-vertical2:before {
	content: "\e9da";
}
.fsshzfyoca-fingers-scroll-left2:before {
	content: "\e9db";
}
.fsshzfyoca-fingers-scroll-right2:before {
	content: "\e9dc";
}
.fsshzfyoca-fingers-scroll-vertical3:before {
	content: "\e9dd";
}
.fsshzfyoca-border-style:before {
	content: "\e9de";
}
.fsshzfyoca-border-all:before {
	content: "\e9df";
}
.fsshzfyoca-border-outer:before {
	content: "\e9e0";
}
.fsshzfyoca-border-inner:before {
	content: "\e9e1";
}
.fsshzfyoca-border-top:before {
	content: "\e9e2";
}
.fsshzfyoca-border-horizontal:before {
	content: "\e9e3";
}
.fsshzfyoca-border-bottom:before {
	content: "\e9e4";
}
.fsshzfyoca-border-left:before {
	content: "\e9e5";
}
.fsshzfyoca-border-vertical:before {
	content: "\e9e6";
}
.fsshzfyoca-border-right:before {
	content: "\e9e7";
}
.fsshzfyoca-border-none:before {
	content: "\e9e8";
}
.fsshzfyoca-ellipsis:before {
	content: "\e9e9";
}
.fsshzfyoca-uni21:before {
	content: "\21";
}
.fsshzfyoca-uni22:before {
	content: "\22";
}
.fsshzfyoca-uni23:before {
	content: "\23";
}
.fsshzfyoca-uni24:before {
	content: "\24";
}
.fsshzfyoca-uni25:before {
	content: "\25";
}
.fsshzfyoca-uni26:before {
	content: "\26";
}
.fsshzfyoca-uni27:before {
	content: "\27";
}
.fsshzfyoca-uni28:before {
	content: "\28";
}
.fsshzfyoca-uni29:before {
	content: "\29";
}
.fsshzfyoca-uni2a:before {
	content: "\2a";
}
.fsshzfyoca-uni2b:before {
	content: "\2b";
}
.fsshzfyoca-uni2c:before {
	content: "\2c";
}
.fsshzfyoca-uni2d:before {
	content: "\2d";
}
.fsshzfyoca-uni2e:before {
	content: "\2e";
}
.fsshzfyoca-uni2f:before {
	content: "\2f";
}
.fsshzfyoca-uni30:before {
	content: "\30";
}
.fsshzfyoca-uni31:before {
	content: "\31";
}
.fsshzfyoca-uni32:before {
	content: "\32";
}
.fsshzfyoca-uni33:before {
	content: "\33";
}
.fsshzfyoca-uni34:before {
	content: "\34";
}
.fsshzfyoca-uni35:before {
	content: "\35";
}
.fsshzfyoca-uni36<div><br></div>:before {
	content: "\36";
}
.fsshzfyoca-uni37:before {
	content: "\37";
}
.fsshzfyoca-uni38:before {
	content: "\38";
}
.fsshzfyoca-uni39:before {
	content: "\39";
}
.fsshzfyoca-uni3a:before {
	content: "\3a";
}
.fsshzfyoca-uni3b:before {
	content: "\3b";
}
.fsshzfyoca-uni3c:before {
	content: "\3c";
}
.fsshzfyoca-uni3d:before {
	content: "\3d";
}
.fsshzfyoca-uni3e:before {
	content: "\3e";
}
.fsshzfyoca-uni3f:before {
	content: "\3f";
}
.fsshzfyoca-uni40:before {
	content: "\40";
}
.fsshzfyoca-uni41:before {
	content: "\41";
}
.fsshzfyoca-uni42:before {
	content: "\42";
}
.fsshzfyoca-uni43:before {
	content: "\43";
}
.fsshzfyoca-uni44:before {
	content: "\44";
}
.fsshzfyoca-uni45:before {
	content: "\45";
}
.fsshzfyoca-uni46:before {
	content: "\46";
}
.fsshzfyoca-uni47:before {
	content: "\47";
}
.fsshzfyoca-uni48:before {
	content: "\48";
}
.fsshzfyoca-uni49:before {
	content: "\49";
}
.fsshzfyoca-uni4a:before {
	content: "\4a";
}
.fsshzfyoca-uni4b:before {
	content: "\4b";
}
.fsshzfyoca-uni4c:before {
	content: "\4c";
}
.fsshzfyoca-uni4d:before {
	content: "\4d";
}
.fsshzfyoca-uni4e:before {
	content: "\4e";
}
.fsshzfyoca-uni4f:before {
	content: "\4f";
}
.fsshzfyoca-uni50:before {
	content: "\50";
}
.fsshzfyoca-uni51:before {
	content: "\51";
}
.fsshzfyoca-uni52:before {
	content: "\52";
}
.fsshzfyoca-uni53:before {
	content: "\53";
}
.fsshzfyoca-uni54:before {
	content: "\54";
}
.fsshzfyoca-uni55:before {
	content: "\55";
}
.fsshzfyoca-uni56:before {
	content: "\56";
}
.fsshzfyoca-uni57:before {
	content: "\57";
}
.fsshzfyoca-uni58:before {
	content: "\58";
}
.fsshzfyoca-uni59:before {
	content: "\59";
}
.fsshzfyoca-uni5a:before {
	content: "\5a";
}
.fsshzfyoca-uni5b:before {
	content: "\5b";
}
.fsshzfyoca-uni5c:before {
	content: "\5c";
}
.fsshzfyoca-uni5d:before {
	content: "\5d";
}
.fsshzfyoca-uni5e:before {
	content: "\5e";
}
.fsshzfyoca-uni5f:before {
	content: "\5f";
}
.fsshzfyoca-uni60:before {
	content: "\60";
}
.fsshzfyoca-uni61:before {
	content: "\61";
}
.fsshzfyoca-uni62:before {
	content: "\62";
}
.fsshzfyoca-uni63:before {
	content: "\63";
}
.fsshzfyoca-uni64:before {
	content: "\64";
}
.fsshzfyoca-uni65:before {
	content: "\65";
}
.fsshzfyoca-uni66:before {
	content: "\66";
}
.fsshzfyoca-uni67:before {
	content: "\67";
}
.fsshzfyoca-uni68:before {
	content: "\68";
}
.fsshzfyoca-uni69:before {
	content: "\69";
}
.fsshzfyoca-uni6a:before {
	content: "\6a";
}
.fsshzfyoca-uni6b:before {
	content: "\6b";
}
.fsshzfyoca-uni6c:before {
	content: "\6c";
}
.fsshzfyoca-uni6d:before {
	content: "\6d";
}
.fsshzfyoca-uni6e:before {
	content: "\6e";
}
.fsshzfyoca-uni6f:before {
	content: "\6f";
}
.fsshzfyoca-uni70:before {
	content: "\70";
}
.fsshzfyoca-uni71:before {
	content: "\71";
}
.fsshzfyoca-uni72:before {
	content: "\72";
}
.fsshzfyoca-uni73:before {
	content: "\73";
}
.fsshzfyoca-uni74:before {
	content: "\74";
}
.fsshzfyoca-uni75:before {
	content: "\75";
}
.fsshzfyoca-uni76:before {
	content: "\76";
}
.fsshzfyoca-uni77:before {
	content: "\77";
}
.fsshzfyoca-uni78:before {
	content: "\78";
}
.fsshzfyoca-uni79:before {
	content: "\79";
}
.fsshzfyoca-uni7a:before {
	content: "\7a";
}
.fsshzfyoca-uni7b:before {
	content: "\7b";
}
.fsshzfyoca-uni7c:before {
	content: "\7c";
}
.fsshzfyoca-uni7d:before {
	content: "\7d";
}
.fsshzfyoca-uni7e:before {
	content: "\7e";
}
.fsshzfyoca-copyright:before {
	content: "\a9";
}
